h1 {
    font-size: -webkit-xxx-large;
}
footer
{
    margin-top: 80px;
    padding: 20px;
    text-align: center;
    background-color: currentColor;
}
footer a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
footer a:first-of-type::after
{
    content: " | ";
    margin: 5px auto;
    text-align: center;
}
.members, .products
{
    color:blue;
    font-size:30px;
    margin-top:20px;
}
.members a, .products a
{
    text-decoration: none;
    text-decoration: none;
    background-color: #212529;
    padding: 10px;
    transition: all .2s ease-in-out;
}
.members a:hover, .products a:hover
{
    color: white;
}